<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--
	<typeAliases>
		<typeAlias alias="computer" type="com.ai.model.Computer"/>
	</typeAliases>
-->	
 <settings>

    <setting name="jdbcTypeForNull" value="NULL" />

  </settings>
  
	<mappers>
		<mapper resource="com/ai/mapping/AdminTipMsg.xml"/>	
		<mapper resource="com/ai/mapping/AdminAccount.xml"/>	
		<mapper resource="com/ai/mapping/AdminTipPicture.xml"/>
		<mapper resource="com/ai/mapping/MsgNotice.xml"/>
		<mapper resource="com/ai/mapping/MsgNews.xml"/>
		<mapper resource="com/ai/mapping/MsgMessage.xml"/>
		<mapper resource="com/ai/mapping/LStaff.xml"/>
	</mappers>
</configuration>	
